.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 20vh;
  margin-right: auto;
  padding: 0 5rem;
  color: white;
  list-style: none;
  font-size: 1.2rem;
  font-weight: 500;
  font-family: 'Aldrich', sans-serif;
}

.logo-link {
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.1rem;
  font-style: italic;
}

.logo-link > img {
  height: 50px;
  width: 35px;
  margin-right: 1rem;
}

.nav-menu {
  display: flex;
  align-items: center;
  gap: 12rem;
  margin-left: auto;
  text-transform: uppercase;
}

.shopping-cart {
  height: 50px;
  width: 40px;
  outline: none;
  background: black;
  border: 1px solid white;
  border-radius: 50%;
  font-size: 1.5rem;
  cursor: pointer;
  color: white;
}
